.about {
    padding: 6.25rem;
}

.about__title {
    font-size: 2.75rem;
    margin-bottom: 1.875rem;
    color: #20496a;
    text-align: center;
}

.about__content {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    color: #20496a;
}