header {
    width: 100vw;
    background-color: #ecf5fd;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 40px;
    width: 40px;

    @include tablet {
        margin-right: 50px;
        width: 60px;
    }

    @include desktop {
        margin-right: 60px;
        width: 80px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    list-style: none;

    @include tablet {
        gap: 40px;
    }

    @include desktop {
        gap: 50px;
    }


}

.menu__item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: calc($index * $side);
    height: calc($index * $side);
    border-radius: 50%;

    border: none;
    outline: none;

    cursor: pointer;

    background-color: transparent;
    box-shadow: -0.025rem -0.025rem .1125rem #fff, .1875rem .1875rem .3125rem rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: inset -0.0625rem -0.0625rem .1875rem #fff, inset .0625rem .0625rem .1875rem rgba(0, 0, 0, 0.1);
    }

    &:hover > .menu__link {
        color: #6ed2f6;
        filter: drop-shadow(0rem .0313rem .0313rem #20496a) drop-shadow(.0313rem .0313rem .0313rem rgb(255, 255, 255));
    }

    &:active {
        top: .125rem;
        box-shadow: inset -0.0625rem -0.0625rem .1875rem #fff,
            inset .0625rem .0625rem .1875rem rgba(0, 0, 0, 0.1);
    }
}

.menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #20496a;
}

.menu__link > i {
    transition: 0.2s;

    @include tablet {
        font-size: 20px;
    }

    @include desktop {
        font-size: 30px;
    }
}