.hero-mountains {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100%;

    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1000;

        width: 100%;
        height: 12.5rem;

        background: linear-gradient(to top, #fff, transparent);
    }
}

.hero-mountains__man {
    top: inherit;
    bottom: 0;
}

.hero-montains__text {
    position: relative;
    color: #fff;
    text-shadow: .125rem .125rem .125rem #20496a;
    filter: drop-shadow(0rem .0313rem .0313rem #20496a) drop-shadow(.0313rem .0313rem .0313rem rgb(167, 244, 237));
    font-size: calc($index * 6.2);
}